
.jumbotron {
  background: rgb(29, 117, 222) !important;
}
.btn-plan {
  border-color: white;
  color: white;
}
.btn-plan:hover {
  color: white;
}

.col-icon {
  vertical-align: top;
  display: block;
  width: 270px;
}
.vertical-icon__img {
  width: 142px;
  height: 142px;
}
.btn {
  border-radius: 500px !important;
}